.HeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--white);
  width: 100%;
  height: auto;

  flex-wrap: wrap;
}

.HeaderContainer h1 {
  margin-right: 60px;
}

.HeaderContainer > div {
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  height: 100%;
}

.HeaderContainer > div h1 {
  font-size: 18px;
}

.Nav {
  display: flex;
  flex: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 500px;
  height: auto;
}

.Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Profile img {
  width: 60px;
  height: 60px;

  border-radius: 50px;
}
