.containerSignIn {
    margin-top: 200px;
    height: 100%;
    width: 100%;
    background: var(--blue-twitter); 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.containerForm {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--blue-twitter);     
}

.containerForm button {
    margin: 5px 0 0;
    height: 44px;
    background: var(--green);
    font-weight: bold;
    color: #fff;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    transition: filter 0.2s;    
}

.containerForm img {
    height: 220px;
    width: 220px;
    border-radius: 50%;
}

.containerForm form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.containerForm form input {
    background: #fff;
    border: 0;
    border-radius: 4px;
    height: 44px;
    padding: 0 15px;
    color: #000;
    margin: 0 0 10px;
    width: 400px;
}

.containerForm form span {
    color: var(--red);
    align-self: flex-start;
    margin: 0 0 10px;
    font-weight: bold;
}

.containerForm form button {
    margin: 5px 0 0;
    height: 44px;
    background: var(--green);
    font-weight: bold;
    color: #fff;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    transition: filter 0.2s;
}

.ContainerSelect {
    margin-bottom: 20px;
}

.containerDate {
    display: column;
    flex-direction: row;
}

.containerStrong {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
   
}