.Container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 250px;
}

.ContainerData {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;

  width: 700px;
  height: 250px;

  background-color: #fff;

  border-radius: 10px;

  margin-top: 50px;
}

.ContainerData button {
  margin: 5px 0 0;
  height: 44px;
  width: 80px;
  background: #fff;
  font-weight: bold;
  color: #fff;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  transition: background 0.2s;
}

.Buttons {
  display: flex;
  flex-direction: row;

  justify-content: space-around;

  width: 100%;

  align-items: center;
}

.Buttons img {
  width: 25px;
  height: 25px;
}

.Line {
  margin-top: 30px;

  width: 800px;
  height: 1px;

  background: #fff;
}

.ContainerNavigation {
  display: flex;

  margin-bottom: 50px;
  margin-top: 50px;

  width: 400px;

  justify-content: space-between;
}

.ContainerNavigation button {
  margin: 5px 0 0;
  height: 40px;
  width: 100px;
  background: #2e30c5;
  font-weight: bold;
  color: #fff;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  transition: background 0.2s;
  margin-bottom: 50px;
  
}

.ContainerStatus {
  width: 16px;
  height: 16px;

  border-radius: 50px;

  background-color: #3fe04e;
}

.ContainerWarranty {
  
}

.ContainerWarranty p {
  color: #e00905;
  font-weight: bold;
}

.ContainerStatusFinished {
  width: 16px;
  height: 16px;

  border-radius: 50px;

  background-color: #e00905;
}

.ContainerStatusProgress {
  width: 16px;
  height: 16px;

  border-radius: 50px;

  background-color: #0000a1;
}

.ContainerStatusWaiting {
  width: 16px;
  height: 16px;

  border-radius: 50px;

  background-color: #fff15f;
}

.ContainerStatusDelivered {
  width: 16px;
  height: 16px;

  border-radius: 50px;

  background-color: #000000;
}

.ContainerStatusAbandoned {
  width: 16px;
  height: 16px;

  border-radius: 50px;

  background-color: #FA8626;
}

.ContainerStatusConcert{
  width: 16px;
  height: 16px;

  border-radius: 50px;

  background-color: #71FFB2;
}

.ContainerStatusWarranty{
  width: 16px;
  height: 16px;

  border-radius: 50px;

  background-color: #CFEAFF;
}

.ContainerSelect {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 400px;
}

.ContainerSelect button {
  margin: 5px 0 0;
  height: 40px;
  width: 100px;
  background: #2e30c5;
  font-weight: bold;
  color: #fff;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  transition: background 0.2s;
}

.Select {
  width: 200px;
}

.ContainerInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  width: 100%;
}

.ContainerInfo strong {
 
  font-size: 14px;

  color: #000;
}

.ContainerInfo2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ContainerInfo2 strong {
  font-size: 14px;

  color: #000;
}

.ContainerInfo2 span {
  font-size: 14px;

  margin-top: 5px;

  color: #000;
}

.ContainerAll {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 100%
}

.ContainerAll2 {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;

  width: 100%;
}

.ContainerAll2 strong {
  margin-top: 20px;
  margin-left: 20px;

  font-size: 20px;
}