.Container {
  display: flex;

  flex-direction: column;
  align-items: center;

  justify-content: center;
}

.Container h2 {
  font-size: 35px;

  color: #fff;

  margin-top: 25px;
}

.buttonAdd {
  display: flex;
  margin-top: 40px;

  width: 400px;
  height: 60px;

  justify-content: flex-end;
}

.buttonAdd button {
  margin: 5px 0 0;
  height: 40px;
  width: 100px;
  background: #2e30c5;
  font-weight: bold;
  color: #fff;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  transition: background 0.2s;
  margin-top: 57px;
}

.containerPrinter {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  height: 1500px;
  width: 1000px;

  margin-bottom: 20px;
}
