.Container {
    display: flex;

    flex-direction: column;
    align-items: center;

    justify-content: center;

    
}

.Container h2 {
    font-size: 35px;

    color: #fff;

    margin-top: 25px;
}